[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-core = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"

[scripts]
dev = "uvicorn app.main:app --reload"
